<div role="main" class="main">

    <div class="home-intro light secundary">
        <div class="container">
    
            <div class="row">
                <div class="col-md-8">
                    <p>
                        The fastest way to grow your business with the leader in <em>Technology</em>
                        <span>Check out our options and features included.</span>
                    </p>
                </div>
            </div>
    
        </div>
    </div>

<div class="container">

    <div class="row center">
        <div class="col-md-12">
            <h1 class="short word-rotator-title">
                
                <strong class="inverted">
                    <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                        <span class="word-rotate-items">
                            <span>incredibly</span>
                            <span>especially</span>
                            <span>extremely</span>
                        </span>
                    </span>
                </strong>
                expensive
            </h1>
            <p class="featured lead">
               Angular app with an API
            </p>
        </div>
    </div>

</div>

<section class="user-container">

    <article class="user" *ngFor="let user of users.data">
        <div>
            <img src="{{user.avatar}}" alt="">
        </div>
        <div>
            <p>{{user.id}}</p>
            <h4>{{user.firstname}}{{user.last_name}}</h4>
            <p>{{user.email}}</p>
        </div>
        
    </article>


</section>




</div>
